extends layout

block content
  h1 Login

    form(method='POST' action='/login')
      div.form-group
        label(for='usernameOrEmail') Username or Email
        input#usernameOrEmail.form-control(type='text', name='usernameOrEmail', placeholder='Enter your username or email', required=true)
      
      div.form-group
        label(for='password') Password
        input#password.form-control(type='password', name='password', placeholder='Enter your password', required=true)
      
      button.btn(type='submit', name='action', value='login') Login
      button.btn(type='submit', name='action', value='sign_in') Sign In

    p.or OAuth Login
    //- DONE: add '/auth/google/login'
    a.btn.btn-quick-login(href='/login/auth/google') Войти с Google